@media (prefers-color-scheme: dark) {
    .darkmode::after {
        content: 'Hello Darkness my old friend 🐸';
        background-color: var(--black);
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

@media (prefers-color-scheme: light) {
    .lightmode::after {
        content: 'Shuttdown the lights Bro... i want sleep 🦇';
        background-color: var(--white);
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}